<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      <h1>Result</h1>
      <table border="2">
        {% for key, value in result.items() %}
          <tr>
            {# this is the comment section#}
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
        {% endfor %}
        </table>
        <script src="" async defer></script>
    </body>
</html>